<div id="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style='color:#615fe8'>Dev<span style='font-weight:normal;color:#ffffff'>School</span></h1>
        <h2 class="subtitle">India's first online coding school with hackathons and placements launching in</h2>
        <div id="countdown"></div>
        <form class="form-inline signup" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-theme">Get notified!</button>
        </form>
        <div class="social">
          <a href="https://www.facebook.com/devschool.in" target='_blank'><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <!-- <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a> -->
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="copyright">&copy; <strong style='color:#615fe8'>Dev</strong>School - All Rights Reserved</p>

      </div>
    </div>
  </div>
</div>